#root {
  max-width: 1024px;        
  margin-left: auto;        
  margin-right: auto;
  padding: 2rem;           
  text-align: center;       
  background-color: #ffffff; 
}

.logo {
  height: 6rem;              
  padding: 1.5rem;           
  transition: filter 0.2s ease, transform 0.2s ease;
  will-change: transform;   
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  @apply p-8;
}

.read-the-docs {
  @apply text-gray-500;
}